Repository linebender/piet, pull requests merged in 2022-06, with the labels that each got.

#512 piet-svg: fix missing transform, clip when drawing image
  piet-svg/src/lib.rs
Labels: piet-svg

#517 Disable the Direct2D debug layer in release mode.
  piet-direct2d/src/d2d.rs
Labels: piet-direct2d

#519 Improve test image scale support.
  piet-cairo/examples/test-picture.rs
  piet-coregraphics/examples/test-picture.rs
  piet-direct2d/examples/test-picture.rs
  piet/src/samples/picture_0.rs
  piet/src/samples/picture_1.rs
  piet/src/samples/picture_10.rs
  piet/src/samples/picture_11.rs
  piet/src/samples/picture_12.rs
  piet/src/samples/picture_13.rs
  piet/src/samples/picture_14.rs
  piet/src/samples/picture_15.rs
  piet/src/samples/picture_2.rs
  piet/src/samples/picture_3.rs
  piet/src/samples/picture_4.rs
  piet/src/samples/picture_5.rs
  piet/src/samples/picture_6.rs
  piet/src/samples/picture_7.rs
  piet/src/samples/picture_8.rs
  piet/src/samples/picture_9.rs
Labels: maintenance

#521 Fix CoreGraphics copy_raw_pixels swaping red and blue channels.
  piet-common/src/cg_back.rs
Labels: bug, piet-coregraphics
